cffi==2.0.0
clarabel==0.11.1
cvxpy==1.8.1
ghalton==0.6.2
highspy==1.13.1
ImageIO==2.37.2
Jinja2==3.1.6
joblib==1.5.3
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
meshio==5.3.5
numpy==2.4.2
osqp==1.1.1
packaging==25.0
pillow==12.1.1
pip==26.0.1
psutil==7.2.2
pybullet==3.2.7
pybullet-planning==0.6.0
pycparser==3.0
Pygments==2.19.2
recordclass==0.24
rich==14.3.3
scipy==1.17.1
scs==3.2.11
setuptools==80.10.2
termcolor==3.3.0
wheel==0.46.3
